<html lang="id">
  <head>
    {{>htmlHead}}
  </head>
  <body>
    <div class="main-content">
      {{>header}}

      <section class="search-section">
        <div class="info-cuaca">
          <div>
            <p>Cek cuaca terkini di lokasi Anda:</p>
            <form>
              <input placeholder="Masukkan lokasi" />
              <button type="submit">Cari Lokasi</button>
            </form>
          </div>
          <img src="/img/cuaca.png" alt="icon cuaca" class="icon-cuaca" />
        </div>
        <p id="pesan-1"></p>
        <p id="pesan-2"></p>
      </section>
      
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
  </body>
</html>